/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Quotation Marks */
.quotation-mark {
    font-size: 10rem;
}

/* Posts and pages */

.site-content {
    background: black;
    color: green;
    font-family: $exo;
}

.container {
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.site-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}