/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Quotation Marks */
.quotation-mark {
    font-size: 10rem;
    color: $color__green-brand;
    margin: 50px;
    display: none;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: block;
    }
}

/* Site Header */
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo {
    margin-top: 50px;
    margin-bottom: 10px;
}

/* Quote Metadata */
.entry-meta {
    display: flex;
    flex-direction: row;

    .quote-author {
        font-size: 1.5rem;
        white-space: nowrap;
    }
}

/* Posts and pages */

.container {
    margin: 0px 40px;
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.site-main {
    display: flex;
    justify-content: center;
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

.archive-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}