/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    outline: none;
    border-radius: 3px;
    background: transparent;
    font-size: .75rem;
    line-height: 1;
    padding: .6rem 1rem .4rem;
    border-color: #0c0;

    &:hover {
        border-color: #0e0;
    }

    &:focus {
        outline: 0;
    }

    input {
        color: #fff;
    }
}

.search-submit {
    background-color: transparent;
    border: none;

    &:hover {
        border: none;
        box-shadow: none;
    }
}

.submit-form {
    display: flex;
    flex-direction: column;

    .form-field {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}

.quote-submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Fields */

fieldset {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 2px solid #0c0;
    border-radius: 3px;
    background: #222;
    width: 400px;

    &:focus {
        color: #aaa;
    }
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px;

    &:hover {
        border-color: #0f0;
    }
}

textarea {
    padding-left: 3px;
    width: 100%;
}

.hidden-message {
    display: none;
}